@import '../../styles/index.less';

.idedemo-sidemenu {
    padding-top: 35px;
    background-color: @sider_color_background;

    &-items a{
        text-align: center;
        cursor: pointer;
        padding: 10px;
        color: rgba(255,255,255,.7);
        position: relative;
        width：48px

        &-tip {
            color: rgba(255,255,255,.7);
        }
    }

    
    &-items a:active {
        color: #fff;
    }

    &-items a:hover {
        color: #fff;
    }

}