@import '../../styles/index.less';

.sider {
    height: 100vh;
    background-color: @sider_color_background;
}

.content {
    background-color: @content_color_background;
}

.marginStyle {
    margin: 5px;
    color: @color_text;
}
