@import '../../styles/index.less';

.editor-tabs { 
    font-variant: tabular-nums;
    line-height: 1.5;
    color: @color_black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    overflow: hidden;
    zoom: 1;

    &-tabpane {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100px;
        height: 24px;
        padding: 5px;
        cursor: pointer;

        &-icon {
            font-size: 22px;
            position: absolute;
            right: 5px;
            color: @color_gray;
            transform: rotate(45deg);

            &:hover {
                color: @color_black;
            }
        }

        &:hover {
            color: @color_link;
        }
    }

    &-selected {
        color: @color_link
    }
}