@import '../../styles/index.less';

.editor-tabs { 
    display: inline;

    &-tabpane {
        width: calc(100vw - 248px);
        height: calc(100vh - 150px);
    }
}

.ant-tabs-nav-scroll {
    overflow: hidden;
    white-space: nowrap;
    width: calc(100vw - 312px);
}

.empty-space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}